// COLORS
$primary-color: #278985;
$secondary-color: #278985;

$menu-color:#D4EDEB;
$menu-color-active: black;
$menu-color-link: black;

$white-color: #ffffff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$default-font-size-half: .8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
